@import "../../styles/common";

.name,
.toggle {
  grid-column-start: 2;
}

.surname,
.subtitle {
  grid-column-start: 4;
}

.fake {
  visibility: hidden;
}

.name,
.surname,
.toggle,
.subtitle {
  @include blend-content();
}
