@import "../../styles/common";

.name,
.toggle {
  grid-column-start: 2;
}

.surname,
.subtitle {
  grid-column-start: 4;
}

.toggle {
  z-index: $layer-interactive;
}

.toggle,
.subtitle {
  padding-bottom: 70px;
}

.fake {
  visibility: hidden;
}
