@import "../../styles/common";

.name,
.surname {
  @include h2();
  @include blend-content();
  text-align: left;
  grid-row: 1 / 2;

  @include tablet {
    font-size: 13.6vw;
    margin-left: -0.02em;
  }

  &.hideMobile {
    @include phone() {
      display: none;
    }
  }
}

.name {
  grid-column-start: 2;
}

.surname {
  grid-column-start: 4;
}

.dummyHeader {
  visibility: hidden;

  @include phone() {
    display: none;
  }
}

.initials {
  transition: transform 300ms ease-in-out;

  &:not(.showInitials) {
    transform: translateY(-20vw);
    transition: none;
  }

  @include notPhone() {
    display: none !important;
  }
}
