@import "../../styles/common";

.root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns:$col-1-width $col-2-width $col-3-width $col-4-width;
  grid-template-rows: $row-1-height $row-2-height $row-3-height $row-4-height;
  justify-items: center;
}
