@import "../../styles/common";

.subtitle {
  grid-column-start: 2;
  grid-row-start: 2;
  @include h3();
  justify-self: flex-start;
  margin-top: 2.5vw;
  margin-left: 0.6%;

  @include phone() {
  }
}

.thumbContainer {
  background: #fff;
  transition: all 0.7s cubic-bezier(0.65, 0.2, 0.2, 0.97),
    background .3s ease-in-out;
  transform: translate3d(0, 0, 0);

  &.active {
    background: transparent;

    .thumbnail {
      filter: none;
      transform: scale(1.08); // scale effect on hover
    }
  }

  @include phone() {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 44px;
  }

  @include notPhone() {
    aspect-ratio: 2 / 3;

    .projectDetails {
      display: none;
    }
  }
}

.thumbLink {
  text-decoration: none;

  @include notPhone() {
    display: block;
    padding: 8px 8px; // gap between items
  }
}

$thumbnailAspectRatio: 3 / 2;

.thumbnail {
  $width: 8.27vw;
  width: $width;
  height: $width * $thumbnailAspectRatio;
  margin: 0 auto;
  filter: grayscale(1);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  mix-blend-mode: difference;
  position: relative;
  object-fit: cover;

  @include desktopSmall() {
    $width: 17.5vw;
    width: $width;
    height: $width * $thumbnailAspectRatio;
  }

  @include tablet() {
    $width: 17.5vw;
    width: $width;
    height: $width * $thumbnailAspectRatio;
  }
}

.label {
  padding-top: $content-padding-top;
  align-self: flex-start;
  justify-self: flex-end;
  grid-column-start: 4;

  &.mobile {
    padding-top: $content-padding-top-mobile;
    margin-left: auto;

    @include notPhone() {
      display: none !important;
    }
  }

  &:not(.mobile) {
    @include phone() {
      display: none !important;
    }
  }
}

.projects {
  grid-column-start: 4;
  grid-row-start: 2;
  justify-self: center;
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include notPhone() {
    padding: 64px 0;

    &:not(.ready) .thumbnail {
      width: 1px;
    }
  }

  @include phone() {
    padding: 0 0 72px;

    .thumbContainer {
      transition: all 0.5s ease-out;
    }
  }

  &:not(.ready) .thumbContainer {
    opacity: 0;
  }
}

.projectDetailsContainer {
  @include notPhone() {
    grid-column-start: 4;
    grid-row: 2 / 5;
    justify-self: stretch;
    position: relative;
    margin-bottom: 16px;

    .projectDetails {
      position: absolute;
      text-align: left;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      overflow: hidden;
      transition: all .2s ease-out;

      .animatedText {
        display: block;
        transform: translateY(-100%);
        transition: all .6s ease-out;
      }

      &.active {
        opacity: 1;

        .animatedText {
          transform: translateY(0);
        }
      }
    }
  }

  @include phone() {
    display: none;
  }
}

.projectTitle {
  @include h4();
  margin-bottom: 6px;
  margin-top: 12px;
  overflow: hidden;
}

.projectDescription {
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;

  @include phone() {
    display: none;
  }
}
