@import "../../styles/common";

.thumbContainer {
  background: #fff;
  transition: all .3s ease-out;
  transform: translate3d(0, 0, 0);

  &.active {
    background: transparent;

    .thumbnail {
      filter: none;
    }
  }

  @include phone() {
    margin-bottom: 36px;

    .projectDetails {
      display: block;
      margin: 0 auto;
    }
  }

  @include notPhone() {
    aspect-ratio: 2 / 3;

    .projectDetails {
      display: none;
    }
  }


  a {
    text-decoration: none;
  }
}

.thumbnail {
  max-width: 200px;
  margin: 12px auto;
  filter: grayscale(1);
  transition: all .3s ease-out;
  mix-blend-mode: difference;
  position: relative;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.label {
  padding-top: $content-padding-top;
  align-self: flex-start;
  justify-self: flex-end;
  grid-column-start: 4;

  &.mobile {
    padding-top: $content-padding-top-mobile;
    margin-left: auto;

    @include notPhone() {
      display: none !important;
    }
  }

  &:not(.mobile) {
    @include phone() {
      display: none !important;
    }
  }
}

.projects {
  grid-column-start: 4;
  grid-row-start: 3;
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include notPhone() {
    padding: 64px 0;
  }

  @include phone() {
    padding: 0 0 100px;
  }
}

.projectDetailsContainer {
  @include notPhone() {
    grid-column-start: 2;
    grid-row: 2 / 5;
    justify-self: stretch;
    position: relative;
    margin-bottom: 15px;

    .projectDetails {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      overflow: hidden;
      transition: all .2s ease-out;

      .animatedText {
        display: block;
        transform: translateY(-100%);
        transition: all .6s ease-out;
      }

      &.active {
        opacity: 1;

        .animatedText {
          transform: translateY(0);
        }
      }
    }
  }

  @include phone() {
    display: none;
  }
}

.projectDetails {
  text-align: center;
}

.projectTitle {
  @include h3();
  margin-bottom: 12px;
  overflow: hidden;
}

.projectDescription {
  font-size: 16px;
  line-height: 1.6;
  overflow: hidden;

  @include phone() {
    margin-top: 4px;
  }
}
