.thumbnailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  grid-column-start: 2;
}

.thumbnail {
  max-width: 200px;
  margin: 12px auto;
  filter: grayscale(1);
  transition: all .3s ease-out;

  &:hover,
  &:focus-visible {
    filter: none;
  }
}

.label {
  text-align: right;
  align-self: flex-start;
  justify-self: flex-end;
  grid-column-start: 4;
}

.projects {
  grid-column-start: 4;
  grid-row-start: 3;
  list-style: none;
  margin: 0;
  padding: 0 0 64px;
}

.projectDetails {
  text-align: center;
}

.projectDescription {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 12px;
}
