@import "../../styles/common";

.initials {
  position: relative;
  grid-row-start: 1;
  grid-column-start: 2;
  mix-blend-mode: difference;
  color: $color-light-background;
  z-index: $layer-interactive;
  text-decoration: none;
  @include h2();
  margin-left: -0.02em;

  @include phone() {
    font-size: 48px;
    position: fixed;
    left: 12px;
    top: 0;
    line-height: 1;
  }
}
