@import "../../styles/common";

.content {
  text-align: center;

  @include notPhone() {
    grid-column-start: 4;
    grid-row-start: 3;
    padding: $content-padding-top 0 100px;
  }

  @include phone() {
    padding-bottom: 340px;
  }


  p {
    margin-bottom: 32px;
  }
}
