@import "../../styles/common";

.contacts,
.copyright {
  @include rublena();
  @include blend-content();
  @include letter-spacing(0.15em);
  font-size: 10px;
  white-space: nowrap;
  grid-row-start: 4;
}

.contacts {
  grid-column-start: 2;
  text-align: center;

  a {
    text-decoration: none;
  }

  @include phone() {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
}

.copyright {
  grid-column-start: 4;

  @include phone() {
    display: none;
  }
}
