@import "../../styles/common";

.contacts {
  grid-column-start: 2;
  grid-row-start: 4;
  position: relative;
  z-index: $layer-interactive;
  white-space: nowrap;
}

.copyright {
  grid-column-start: 4;
  grid-row-start: 4;
  white-space: nowrap;
}
