@import "../../styles/common";

.contacts {
  @include h3();
  @include blend-content();
  transition: all 1.5s ease-out;
  margin-bottom: 22px;
  background-color: $color-light-background;
  color: $color-light-text;

  &:hover {
    transition: all 0.4s ease-in;
    background-color: $color-light-text;
    color: $color-light-background;
  }

  a {
    text-decoration: none;
  }

  @include phone() {
    position: fixed;
    bottom: 0;
    left: 10px;
  }

  @include notPhone() {
    grid-column-start: 2;
    grid-row-start: 4;
  }

  @include tablet() {
    display: flex;
    flex-direction: column;
  }
}
