@import "../../styles/common";

.h2 {
  @include rublena();
  line-height: 1.1;
  @include letter-spacing(0.06em);
  font-size: 170px;

  @include phone() {
    font-size: 70px;
  }
}

.h3 {
  font-size: 24px;
  line-height: 1.5;

  @include phone() {
    font-size: 20px;
  }
}
