@import "../../styles/common";

.pageLayout {
  & > * {
    z-index: $layer-interactive;
  }
}

.initials {
  @include rublena();
  position: relative;
  grid-row-start: 1;
  grid-column-start: 4;
  justify-self: end;
  display: flex;
  mix-blend-mode: difference;
  color: $color-light-background;
  line-height: 2.0;
  @include letter-spacing(0.08em);
  font-size: 48px;
  margin-left: auto;
  text-decoration: none;

  @include phone() {
    font-size: 48px;
    position: fixed;
    right: 10px;
  }
}

.content {
  @include notPhone() {
    --row-1-height: 152px;
    --row-2-height: 30px;
    --row-3-height: min-content;
    --row-4-height: 1fr;
  }

  @include phone() {
    padding-top: 120px;
  }
}

.label {
  font-size: 14px;
  @include letter-spacing(0.1em);
  grid-column-start: 4;
  grid-row-start: 2;
  margin-left: auto;
}

.projectDetails {
  font-size: 16px;
  line-height: 1.8;
  grid-column-start: 2;
  text-align: center;

  @include phone() {
    text-align: right;
  }
}

.projectBrief {
  grid-column-start: 4;
  text-align: center;

  @include phone() {
    padding: 24px 20px 0;
  }
}

.projectDetails,
.projectBrief {
  grid-row-start: 3;
}

.media {
  padding: 54px 0 470px;
  grid-column: 2 / 5;
  grid-row-start: 4;

  @include phone() {
    padding: 36px 0 200px;
  }

  @include tablet() {
    padding: 36px 0 325px;
  }
}

.row {
  margin-top: 12px;
  display: flex;

  &.twoItems {
    $gap: 6px;
    margin-left: -$gap;
    margin-right: -$gap;

    & > * {
      flex: 0 0 50%;
      padding: 0 $gap;

      @include phone() {
        flex-grow: 1;
      }
    }
  }

  video,
  img {
    max-width: 100%;
  }
}

.empty {
  @include phone() {
    display: none;
  }
}

.nextProjectTitle,
.nextProjectLink {
  margin-top: -238px;

  @include notPhone() {
    grid-row-start: 5;
  }

  @include tablet() {
    margin-top: -170px;
  }

  @include phone() {
    margin-top: -140px;
  }
}

.nextProjectTitle {
  grid-column-start: 2;
  font-size: 16px;

  @include phone() {
    display: none;
  }
}

.nextProjectLink {
  grid-column-start: 4;
  justify-self: flex-end;
  text-align: right;
  font-size: 20px;
  line-height: 1;
  @include letter-spacing(0.08em);
  text-decoration: none;

  @include phone() {
    display: flex;
    flex-direction: column-reverse;
  }
}

.nextProjectValue {
  @include rublena();
}
