@import "../../styles/common";

.pageLayout {
  & > * {
    position: relative;
    z-index: $layer-interactive;
  }
}

.initials {
  grid-row-start: 1;
  grid-column-start: 4;
  justify-self: end;
  display: flex;
  margin-right: -0.11em;
  mix-blend-mode: difference;
  color: $color-light-background;

  a {
    text-decoration: none;
  }
}

.content {
  --row-3-height: min-content;
  --row-4-height: 1fr;
}

.label {
  font-size: 20px;
  @include letter-spacing(0.08em);
  grid-column-start: 4;
  grid-row-start: 2;
  margin-left: auto;
}

.projectDetails {
  font-size: 16px;
  line-height: 1.8;
  font-feature-settings: 'onum' on;
  grid-column-start: 2;
  text-align: center;

  @include phone() {
    text-align: right;
  }
}

.projectBrief {
  grid-column-start: 4;
  text-align: center;
}

.projectDetails,
.projectBrief {
  grid-row-start: 3;
}

.media {
  margin: 60px 0;
  grid-column: 2 / 5;
  grid-row-start: 4;

  @include phone() {
    margin: 0;
  }
}

.row {
  margin-top: 24px;
  display: flex;

  &.twoItems {
    margin-left: -12px;
    margin-right: -12px;

    & > * {
      flex: 0 0 50%;
      padding: 0 12px;

      @include phone() {
        flex-grow: 1;
      }
    }
  }

  video,
  img {
    max-width: 100%;
  }
}

.empty {
  @include phone() {
    display: none;
  }
}
