$layer-interactive: 10;

$content-padding-top: 60px;
$content-padding-top-mobile: 24px;

$color-light-background: #fff;
$color-light-text: #000;

$color-dark-background: #111;
$color-dark-text: #fff;

@mixin rublena() {
  font-family: rublena, sans-serif;
  font-weight: 900;
}

@mixin mantonico() {
  font-family: mantonico, sans-serif;
  font-weight: 300;
  font-variant-numeric: oldstyle-nums;
}

@mixin blend-content() {
  z-index: $layer-interactive;
  mix-blend-mode: difference;
  color: $color-dark-text;
}

@mixin letter-spacing($value) {
  letter-spacing: $value;
  margin-right: -($value * 1.1); // multiplier for better compensation for elements with big font size
}

$breakpoint-phone: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop-s: 1024px;
$breakpoint-desktop-m: 1366px;
$breakpoint-desktop-l: 1920px;

@mixin phone {
  @media (max-width: #{$breakpoint-phone - 1px}) { @content; }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-phone}) and (max-width: #{$breakpoint-desktop-s - 1px}) { @content; }
}

@mixin desktopSmall {
  @media (min-width: #{$breakpoint-desktop-s}) and (max-width: #{$breakpoint-desktop-m - 1px}) { @content; }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop-m}) and (max-width: #{$breakpoint-desktop-l - 1px}) { @content; }
}

@mixin desktopLarge {
  @media (min-width: #{$breakpoint-desktop-l}) { @content; }
}

@mixin notPhone {
  @media (min-width: 768px) { @content; }
}

@mixin h2 {
  @include rublena();
  @include letter-spacing(0.08em);
  line-height: 1.05;
  font-size: 170px;

  @include phone() {
    font-size: 22vw;
  }

  @include tablet() {
    font-size: 13vw;
  }

  @include desktopSmall() {
    font-size: 13vw;
  }
}

@mixin h3 {
  font-size: 24px;
  line-height: 1.5;

  @include phone() {
    font-size: 20px;
  }
}

:export {
  darkBackgroundColor: $color-dark-background;
  darkTextColor: $color-dark-text;
}
