$row-1-height: min-content;
$row-2-height: min-content;
$row-3-height: 1fr;
$row-4-height: 32px;

$col-1-width: 3fr;
$col-2-width: min-content;
$col-3-width: 1fr;
$col-4-width: min-content;
$col-5-width: 30px;

$layer-interactive: 10;

$color-light-background: #fff;
$color-light-text: #000;

$color-dark-background: #111;
$color-dark-text: #fff;

@mixin rublena() {
  font-family: rublena, sans-serif;
  font-weight: 900;
}

@mixin mantonico() {
  font-family: mantonico, sans-serif;
  font-weight: 300;
}

@mixin blend-content() {
  z-index: $layer-interactive;
  mix-blend-mode: difference;
  color: $color-dark-text;
}

@mixin letter-spacing($value) {
  letter-spacing: $value;
  margin-right: -$value;
}

@mixin phone {
  @media (max-width: 768px) { @content; }
}

:export {
  darkBackgroundColor: $color-dark-background;
  darkTextColor: $color-dark-text;
}
