$row-1-height: 25vh;
$row-2-height: 10vh;
$row-3-height: 1fr;
$row-4-height: 50px;

$col-1-width: 1fr;
$col-2-width: 30vw;
$col-3-width: 40vw;
$col-4-width: 40px;

$layer-interactive: 10;

$color-light-background: #fff;
$color-light-text: #000;

$color-dark-background: #111;
$color-dark-text: #fff;

@mixin rublena() {
  font-family: rublena, sans-serif;
  font-weight: 900;
}

@mixin mantonico() {
  font-family: mantonico, sans-serif;
  font-weight: 300;
}

:export {
  darkBackgroundColor: $color-dark-background;
  darkTextColor: $color-dark-text;
}
