@import "./common.scss";

@font-face {
    font-family: 'mantonico';
    src: url('../fonts/mantonico/mantonico-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'rublena';
    src: url('../fonts/rublena/KTFRublena-Solid.woff2') format('woff2'),
    url('../fonts/rublena/KTFRublena-Solid.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

html {
    @include mantonico();
    font-variant-numeric: slashed-zero;
    background-color: var(--page-bg-color, $color-light-background);
    color: var(--page-text-color, $color-light-text);
}
